.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; /* Ajusta para dejar espacio para el navbar */
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #3880ff;
}

ion-tab-bar {
  background-color: #f8f8f8;
}
